body {
	margin: 12px 16px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

.main-container {
	width: 800px;
	margin: 0 auto;
}

.main {
	padding: 25px 10px 10px 15px;
	border: 1px solid #ddd;
	border-top: 0;
}

.main-header {
	margin-bottom: 15px;
}

.basic-label {
	font-weight: 500;
	display: block;
}

.new-task {
	margin-bottom: 15px;
}